.megahomepage {
  display: flex;
  margin-left: 6rem;
}

.navbar {
  height: calc(100vh - 40px);
  border-radius: 20px;
  margin: 20px 20px;
  padding: 1rem;
  width: 4rem;
  background: rgb(22, 29, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 50;
}

.navmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navmenuitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.navmenuitems {
  margin-bottom: 1.5rem;
}

.logincont {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.inputlogin {
  background: transparent;
  outline: none;
  border-bottom: 1px solid #c3083f;
  color: rgba(255, 255, 255, 0.7);
}

.signinbtn {
  background: #10141f;
  color: white;
  border-radius: 20px;
}

.pwdbtn {
  background: rgb(195, 8, 63);
  color: white;
  border-radius: 20px;
}

.logoutbtn {
  margin-top: 10px;
  background: #161d2f;
  color: white;
  border-radius: 20px;
}

.searchinput {
  margin-top: 20px;
  width: calc(100vw - 140px);
  background: transparent;
  outline: none;
  border: 1px solid #161d2f;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.7);
}

.shadowdiv {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
}

.bookmark {
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 50;
}

.trendimg {
  width: 500px;
}

.loadingscreen {
  position: absolute;
  top: 50%;
  left: 50%;
}

.imgdetail {
  width: 600px;
  border-radius: 20px;
}

.listitems {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.listitems2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.details {
  width: calc(100vw - 140px);
}

/* media queries */

/* 1500-4k */

@media (min-width: 1500px) {
  .logincont {
    width: 700px;
    height: 900px;
    border-radius: 20px;
  }
  .listitems {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .listitems2 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* tab - 1024 */

@media (max-width: 1024px) {
  .listitems {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .listitems2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* sm - tab */

@media (max-width: 768px) {
  .megahomepage {
    display: flex;
    flex-direction: col;
    margin-left: 0rem;
  }
  .navbar {
    width: calc(100vw - 40px);
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: -15px;
    left: 0px;
    z-index: 60;
  }

  .navmenu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navmenuitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
  }

  .navmenuitems {
    margin-right: 1.5rem;
    margin-bottom: 0rem;
  }

  .homepage {
    margin-top: 4rem;
    margin-left: 10px;
  }

  .searchinput {
    width: calc(100vw - 20px);
  }

  .logincont {
    width: 500px;
    height: 500px;
    border-radius: 20px;
  }
  .listitems {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .listitems2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .details {
    width: calc(100vw - 40px);
  }
}

@media (max-width: 425px) {
  .listitems {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .listitems2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .details {
    width: calc(100vw - 20px);
  }
}

@media (max-width: 375px) {
  .listitems {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .listitems2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
